body {
  font-family: "Times New Roman", serif;
}

div {border: 1px solid black;
  margin: 25px;
}

h1 {
  color: #DC143C;
}

h2 {
  color: 	#DC143C;
}

#contact {
  background-color: #F0FFFF;
  padding: 15%;
}
