body {
  font-family: "Georgia", serif;
  padding-left: 70xp
}

body {
  margin: 100px
}

header {
  margin: 200px;
  font-family: "Georgia", serif;
}

h1 {
  color: #2F4F4F;
}

h2 {
  color: 	#DC143C;
}

h3 {
  color: #DC143C
}

#contact {
  background-color: #F0FFFF;
  padding: 10%;
}
