body {
  font-family: "Georgia", serif;
  padding-left: 70xp;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 150 px;
  margin-top: 20px;
}

/* Style the header*/
header {
  font-family: "Georgia", serif;
  border-style: outset; color: #2F4F4F; margin-top: 50px; margin-bottom: 50px;
  padding: 20px;
  text-align: center;
}


/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
</style>
</head>

div{
  float: left;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;

}
/*aligning images*/
div.a {
  text-align: center;
}

div.b {
  text-align: left;
}

div.c {
  text-align: right;
}



<body>

h1 {
  color: #2F4F4F;
}

h2 {
  color: 	#396060;
}

h3 {
  color: #396060
}

#contact {
  background-color: #F0FFFF;
  padding: 10%;
}
